extends base

block vars
  - var title = 'CBI Systems | Change Your Password'
  - var description = 'Change your password here.'
  - var bodytag = 'login'

block body
  .container.custom-container
    .va-wrapper
      .view.login-view.container
        .box.row
          .email-password-area.col-xs-12.large.col-sm-12
            .header
              .ms4-logo
                img(src='public/img/CBISystemsLogo-md.png')
              span.
                Change Your Password
              p.  
                Enter your new account password below.  Once confirmed,
                you'll be logged into your account and your new password will be
                active.

            if error
              .alert.alert-danger.bad-login
                p #{error}

            if formErrors
              .alert.alert-danger.bad-login
                each error in formErrors
                  p #{error.error}

            form.login-form.form-horizontal(method='post', role='form')
              input(name='_csrf', type='hidden', value=csrfToken)

              .form-group.group-password
                label.col-sm-4 Password

                div.col-sm-8
                  input.form-control(placeholder='Password', required=true, name='password', type='password')

              .form-group.group-password
                label.col-sm-4 Password (again)

                div.col-sm-8
                  input.form-control(placeholder='Password (again)', required=true, name='passwordAgain', type='password')

              div
                button.login.btn.btn-login.btn-sp-green(type='submit') Submit
