extends base

block vars
  - var title = 'CBI Systems | Log In'
  - var description = 'CBI Systems | Log into your account!'
  - var bodytag = 'login'
  - var socialProviders = stormpathConfig.web.social
  - var registerFields = stormpathConfig.web.register.form.fields

block body
  .container.custom-container
    
    .va-wrapper

      .view.login-view.container

        if status
          .box.row
            .email-password-area.col-xs-12.large.col-sm-12
              .header
                if status === 'unverified'
                  span.
                    Your account verification email has been sent!
                  p.
                    Before you can log into your account, you need to activate your
                    account by clicking the link we sent to your inbox.
                  p.
                    Didn't get the email? <a href="#{stormpathConfig.web.verifyEmail.uri}">Click Here</a>.
                  br
                if status === 'verified'
                  span.
                    Your Account Has Been Verified
                  p.
                    You may now login.
                if status === 'created'
                  span.
                    Your Account Has Been Created
                  p.
                    You may now login.
                if status === 'reset'
                  span.
                    Password Reset Successfully
                  p.
                    You can now login with your new password.
                  br
                if status === 'forgot'
                  span.
                    Password Reset Requested
                  p.
                    If an account exists for the email provided, you will
                    receive an email shortly.
          br
        .box.row
          if hasSocialProviders
            - var cls = 'small col-sm-8'
          else
            - var cls = 'large col-sm-12'
          
          div(class='email-password-area col-xs-12 #{cls}')
            .header
              .ms4-logo
                img(src='public/img/CBISystemsLogo-md.png')
              if stormpathConfig.web.register.enabled
                span.
                  Log In or <a href="#{stormpathConfig.web.register.uri}">Create Account</a>
              else
                span.
                  Welcome! Please log in.

            if error
              .alert.alert-danger.bad-login
                p #{error}

            if formErrors
              .alert.alert-danger.bad-login
                each error in formErrors
                  p #{error.error}

            form.login-form.form-horizontal(method='post', role='form',action=formActionUri)
              input(name='_csrf', type='hidden', value=csrfToken)

              .form-group.group-email
                if hasSocialProviders
                  - var cls = 'col-sm-12'
                else
                  - var cls = 'col-sm-4'

                if registerFields.username && registerFields.username.enabled
                  label(class='#{cls}') Username or Email
                else
                  label(class='#{cls}') Email

                if hasSocialProviders
                  - var cls = 'col-sm-12'
                else
                  - var cls = 'col-sm-8'

                div(class='#{cls}')
                  - var value = form.data ? form.data.login : '';
                  if registerFields.username && registerFields.username.enabled
                    input.form-control(autofocus='true', placeholder='Username or Email', required=true, name='login', type='text', value=value, tabindex='1')
                  else
                    input.form-control(autofocus='true', placeholder='Email', required=true, name='login', type='text', value=value, tabindex='1')

              if hasSocialProviders
                - var cls = 'col-sm-12'
              else
                - var cls = 'col-sm-4'

              .form-group.group-password
                label(class='#{cls}') Password

                if hasSocialProviders
                  - var cls = 'col-sm-12'
                else
                  - var cls = 'col-sm-8'

                div(class='#{cls}')
                  input.form-control(placeholder='Password', required=true, type='password', name='password', , tabindex='2')
                    
              .form-group.group-agreement
                div.col-sm-4

                div.col-sm-8
                  .checkbox
                    label(for='agree-cb') 
                      input(id='agree-cb', type='checkbox', onchange='$("button.login").prop("disabled", !this.checked)', tabindex='3')
                      | I accept the 
                      a(type='button', data-toggle='modal', data-target='#agreement-modal') End User Licensing Agreement

                div.modal.fade(id='agreement-modal', role='dialog', data-backdrop='static')
                  .modal-dialog.modal-lg(role='document')
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal', arial-label='Close')
                          span(aria-hidden='true') &times;
                        h4.modal-title End User Licensing Agreement
                      .modal-body
                        iframe(src='public/EULA.html', frameborder=0, height='400px', width='100%', allowfullscreen)
                      .modal-footer
                        a.btn.btn-default(href='public/EULA.html', target='_blank') Open in new window
                        button.btn.btn-success(type='button', data-dismiss='modal', onclick='$("#agree-cb").prop("checked", true).change()') I ACCEPT

              div
                button.login.btn.btn-login.btn-sp-green(type='submit', disabled) Log In

          if hasSocialProviders
            .social-area.col-xs-12.col-sm-4
              .header &nbsp;
              label Easy 1-click login:
              if socialProviders.facebook && socialProviders.facebook.enabled
                include facebook_login_form.jade
              if socialProviders.google && socialProviders.google.enabled
                include google_login_form.jade
              if socialProviders.linkedin && socialProviders.linkedin.enabled
                include linkedin_login_form.jade
              if socialProviders.github && socialProviders.github.enabled
                include github_login_form.jade
        
        .row
          .col-sm-12.bottom-links
            if stormpathConfig.web.verifyEmail.enabled
              a.forgot(style="float:left", href="#{stormpathConfig.web.verifyEmail.uri}") Resend Verification Email?
            if stormpathConfig.web.forgotPassword.enabled
              a.forgot(style="float:right", href="#{stormpathConfig.web.forgotPassword.uri}") Forgot Password?

      + platform-container
        